{% extends "blank.html" %}
{% load i18n %}
{% load static %}
{% load deal_time %}
{% load tags %}
{% load field_data_tag %}
{% block title %} {% trans "User Profile" %}{% endblock %}
{% block custom_css %}
{% endblock %}
{% block content_title %} {% trans "User Profile" %}{% endblock %}
{% block real_content %}
    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <img class="profile-user-img img-responsive img-circle"
                                {#                             src="{% static "adminlte/dist/img/user2-160x160.jpg" %}"#}
                             src="{{ request.user.image.url }}"

                             alt="User profile picture">

                        <h3 class="profile-username text-center">{{ info.username }}</h3>
                        <!--
                        <p class="text-muted text-center">Software Engineer</p>
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>Followers</b> <a class="pull-right">1,322</a>
                            </li>
                            <li class="list-group-item">
                                <b>Following</b> <a class="pull-right">543</a>
                            </li>
                            <li class="list-group-item">
                                <b>Friends</b> <a class="pull-right">13,287</a>
                            </li>
                        </ul>

                        <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
                        -->
                        <button type="button" id="btn_upload_img" class="btn btn-default  btn-xs margin-left ">上传头像
                        </button>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

                <!-- About Me Box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">About Me</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <strong><i class="fa fa-book margin-r-5"></i> 姓名 </strong>

                        <p class="text-muted">
                            {{ info.name }}
                        </p>

                        <hr>


                        <strong><i class="fa fa-pencil margin-r-5"></i> 邮箱 </strong>
                        <p>
                            {{ info.email }}
                        </p>

                        <hr>
                        <strong><i class="fa fa-pencil margin-r-5"></i> 出生日期 </strong>
                        <p>
                            {{ info.birthday }}
                        </p>
                        <hr>

                        <strong><i class="fa fa-map-marker margin-r-5"></i> 性别 </strong>

                        <p class="text-muted">{{ info.get_gender_display }}</p>

                        <hr>
                        <strong><i class="fa fa-pencil margin-r-5"></i> 手机号码 </strong>
                        <p>
                            {{ info.mobile }}
                        </p>
                        <hr>

                        <strong><i class="fa fa-pencil margin-r-5"></i> 部门 </strong>
                        <p>
                            {{ info.department }}
                        </p>
                        <hr>

                        <strong><i class="fa fa-pencil margin-r-5"></i> 职位 </strong>
                        <p>
                            {{ info.position }}
                        </p>
                        <hr>


                        <strong><i class="fa fa-pencil margin-r-5"></i> 直属上级 </strong>
                        <p>
                            {{ info.superior }}
                        </p>
                        <hr>

                        <strong><i class="fa fa-pencil margin-r-5"></i> Date Joined</strong>
                        <p>
                            {{ info.date_joined }}
                        </p>
                        <hr>

                        <strong><i class="fa fa-pencil margin-r-5"></i> Last Login</strong>
                        <p>
                            {{ info.last_login }}
                        </p>
                        <hr>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#login_history" data-toggle="tab">Login History</a></li>
                        <li><a href="#action_history" data-toggle="tab">Action History</a></li>
                        <li><a href="#settings" data-toggle="tab">Settings</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="login_history">
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="action_history">
                            <!-- The timeline -->
                            <ul class="timeline timeline-inverse">
                                <!-- timeline time label -->
                                <li class="time-label">
                        <span class="bg-red">
                          10 Feb. 2014
                        </span>
                                </li>
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-envelope bg-blue"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                                        <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                                        <div class="timeline-body">
                                            Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                            weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                            jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                            quora plaxo ideeli hulu weebly balihoo...
                                        </div>
                                        <div class="timeline-footer">
                                            <a class="btn btn-primary btn-xs">Read more</a>
                                            <a class="btn btn-danger btn-xs">Delete</a>
                                        </div>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-user bg-aqua"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>

                                        <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your
                                            friend request
                                        </h3>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-comments bg-yellow"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>

                                        <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post
                                        </h3>

                                        <div class="timeline-body">
                                            Take me to your leader!
                                            Switzerland is small and neutral!
                                            We are more like Germany, ambitious and misunderstood!
                                        </div>
                                        <div class="timeline-footer">
                                            <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                                        </div>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <!-- timeline time label -->
                                <li class="time-label">
                        <span class="bg-green">
                          3 Jan. 2014
                        </span>
                                </li>
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-camera bg-purple"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>

                                        <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>

                                        <div class="timeline-body">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                        </div>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <li>
                                    <i class="fa fa-clock-o bg-gray"></i>
                                </li>
                            </ul>
                        </div>
                        <!-- /.tab-pane -->

                        <div class="tab-pane" id="settings">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputName" class="col-sm-2 control-label">First Name</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputName" placeholder="First Name"
                                               name="firstname" value="{{ info.first_name }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName" class="col-sm-2 control-label">Last Name</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputName" placeholder="Last Name"
                                               name="lastname" value="{{ info.last_name }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputEmail" placeholder="Email"
                                               name="email" value="{{ info.email }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-danger">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
{% endblock %}
{% block custom_js %}
    <script type="text/javascript" src="{% static 'layer/layer.js' %}"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#btn_upload_img').on('click', function () {
                layer.open({
                        type: 2,
                        area: ['350px', '300px'],
                        title: ['上传头像', 'background-color:#dae7f5'],
                        skin: 'layui-layer-demo', //加上边框
                        shadeClose: true,
                        closeBtn: 1,
                        btn: ['确定', '取消'],
                        content: '/accounts/user/add_avatar/',
                        yes: function (index, layero) {
                            var ifname = "layui-layer-iframe" + index;//获得layer层的名字
                            var Ifame = window.frames[ifname];
                            Ifame.document.getElementById("myform").submit();
                            layer.close(index);
                        },
                        btn2: function (index) {
                            layer.close(index);

                        },
                        end: function () {
                            window.location.reload();

                        }

                        ,
                    }
                )
                ;
            });
        });
    </script>
{% endblock %}