{% load static %}
<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="{{ request.user.image.url }}" class="user-image" alt="User Image">
        <span class="hidden-xs">{{ user.username }}</span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            <img src="{{ request.user.image.url }}" class="img-circle" alt="User Image">

            <p>
                {{ user.username }}
            </p>
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="pull-left">
                <a href="{% url  'account:user:profile' %}" class="btn btn-default btn-flat">Profile</a>
            </div>
            <div class="pull-right">
                <a href="{% url 'account:user:logout' %}" class="btn btn-default  btn-flat">Sign out</a>
            </div>
        </li>
    </ul>
</li>